# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production build
client/dist/
dist/

# Environment files
.env
.env.local

# Uploads except .gitkeep
server/uploads/*
!server/uploads/.gitkeep

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db
